.button {
    --btn-background: black;
    --btn-font-color: white;
    --btn-border-color: black;

    display: inline-flex;
    padding: 0 12px;
    font-size: 16px;
    border-radius : 4px;
    height: 48px;
    min-width: 100px;
    max-width: 200px;
    letter-spacing: 0.6px;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-background);
    color: var(--btn-font-color);
    outline: none;
    border: 2px solid var(--btn-border-color);
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
}